{% extends 'app1/layout.html' %}
{% block content %}
<div id="maindiv">
{% if user.is_authenticated %}
<h3 align="right"> Logged In: {{ user.username }} </h3>
{% else %}
<h3> You are not logged in </h3>
{% endif %}
<br>
<button id="cbutton" class="btn-primary">CREATE EVENT</button>
<a href = "{% url 'app1:logout' %}" class="btn-primary" style="float:right">LOGOUT</a>
<br><br>
<div class="jumbotron">
<h2>EVENTS</h2>
<div id="div1" class="container">
{% for event in userkey.events_set.all %}
<br>
<ul>
     <li><h2>{{ event.title }}</h2></li>
           <ul>
            <li>{{event.description}}</li> 
            <li>{{event.location}}</li>
            <li>{{event.date}}</li>
            <li>attended : {{event.attended_or_not}}</li>
            <br><br>
            <a href = "{% url 'app1:edit' event.id %}" class="btn-primary">EDIT EVENT</a>
            &nbsp;&nbsp;&nbsp;<a href = "{% url 'app1:delete' event.id %}" class="btn-primary">DELETE EVENT</a>
           </ul></ul>{% endfor %}
           <br><br>
        </div>
    </div>
</div>
{% endblock %}